<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="styles.css" />
  <title>Relação de usuários</title>
</head>

<body>
  <div class="tudo">
    <div class="row">
      &nbsp;
    </div>
    <div class="container">
      <div class="row">
        <h1>Relação de usuários</h1>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="container">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">
                  Nome
                </th>
                <th scope="col">
                  E-mail
                </th>
                <th scope="col">
                  Nome da empresa
                </th>
                <th scope="col">
                  Website
                </th>
              </tr>
            </thead>
            <tbody>
              <% for (i = 0; i < users.length; i++) {%>
              <tr>
                <td>
                  <%= users[i].name %>
                </td>
                <td>
                  <%= users[i].email %>
                </td>
                <td>
                  <%= users[i].company %>
                </td>
                <td>
                  <a href="#"><%= users[i].website %></a>
                </td>
              </tr>
              <%}%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
        </script>
    </footer>
</body>
</html>